#artintro{
    @include tablet{

        margin: 0 16px;
        gap: 32px;
        }
        
        article{
            display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        h3{
            margin-left: 128px;
            margin-top: 8px;
         
            @include tablet{
             
            }
        }
        }
}