/* =============
    Base
============= */
.grid {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";
    align-items: center;

    .content {
        grid-area: content;
    }
}

.spacing{
    padding: 160px 0 160px 0;
}
body{
    background: $darkmodebg;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
