/* =============
    Typography
============= */

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Manrope', sans-serif;
    color: $lighticeblue;
    margin: 0;
}

h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 112%;
    @include tablet{
        font-size: 96px;
    }
    @include laptop{
        font-size: 144px;
    }
}

h2{
    font-weight: 600;
    font-size: 32px;
    @include tablet{
        font-size: 48px;
    }
    @include laptop{
        font-size: 72px;
    }
}
h3{
    font-weight: 400;
    font-size: 16px;
    @include tablet{
        font-size: 24px;
    }
    @include laptop{
        font-size: 36px;
    }
}
h4{
    font-weight: 400;
    font-size: 12px;
    @include tablet{
        font-size: 18px;
    }
    @include laptop{
        font-size: 27px;
    }
}
h5{
    font-size: 8px;
    line-height: auto;
}

