#designworks{
    ul{
        @include tablet {
            display: grid;
            column-gap: 16px;
            row-gap: 16px;
            grid-template-columns: repeat(16,1fr);
            grid-template-areas: 
            ". . item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 . ."
            "item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item3 item3 item3 item3 item3 item3"
            "item4 item4 item4 item4 item4 item4 item4 item5 item5 item5 item5 item5 item5 item5 item5 item5"
            ". . item6 item6 item6 item6 item6 item6 item6 item6 item6 item6 item6 item6 . .";
        }
        #item1{
            grid-area: item1;
            @include tablet {
                img{
                    margin-bottom: 178px;
                }
            }
        }
        #item2{
            grid-area: item2;
            @include tablet {
                img{
                    width: 99%;
                    margin-bottom: 178px;
                }
            }
        }
        #item3{
            grid-area: item3;
            @include tablet {
                display: flex;
                justify-content: flex-end;
                img{
                    width: 101%;
                }
            }
        }
        #item4{
            grid-area: item4;
            @include tablet {
                img{
                    width: 104%;
                    margin-bottom: 178px;
                }
            }
        }
        #item5{
            grid-area: item5;
            @include tablet {
                display: flex;
                justify-content: flex-end;
                img{
                    width: 97%;
                }
            }
        }
        #item6{
            grid-area: item6;
        }
        li{
            img{
                width: 100%;
                border-radius: 1000px;
                margin-bottom: 128px;
                @include tablet{
                    height: fit-content;
                    
                    margin-bottom: 0px;
                }
            }
            
        }
    }
}