#designintro{
    @include tablet{
        grid-template-columns: repeat(8,1fr);
    grid-template-areas: ". . . content content content content .";
    margin: 0 16px;
    gap: 16px;
    }
    @include laptop {
        grid-template-columns: repeat(12,1fr);
        grid-template-areas: ". . . . . . content content content content content .";
    }
    article{
        display: flex;
    flex-direction: column;
    align-items: flex-end;
    h3{
        margin-top: 8px;
        width: 45%;
        @include tablet{
            width: 74%;
        }
    }
    }
}