/* =============
    Header
============= */
header{
    background: $iceblue;
    height: 48px;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";
    justify-items: center;
    align-content: center;
    h5{
        grid-area: content;
        text-align: center;
    }
}