#aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;

    #profilepic{
        width: 84%;
        border-radius: 100%;
        margin-bottom: 16px;
        @include tablet {
            width: 62.5;
            margin-bottom: 32px;
        }
    }
    section{
        display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 84%;
            @include tablet {
                width: 72%;
            }
        #aboutmetext{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 8px;
            @include tablet {
                margin-bottom: 16px;
            }
            h2{
                margin-bottom: 8px;
                @include tablet {
                    margin-bottom: 16px;
                }
            }
            h4{
                width: 57%;
                @include tablet{
                    width: 70%;
                }
            }
        }
    }
    #socials{
        display: flex;
        gap: 40px;
        a{
            height: 44px;
            width: 44px;
            @include tablet {
                height: 88px;
                width: 88px;
            }
            img{
                height: 24px;
                color: $oreowhite;
                @include tablet {
                    height: 32px;
                }
            }
        }
    }
}