#landinggrid{
    background: $iceblue;
display: grid;
grid-template-columns: 16px auto 16px;
        grid-template-areas: ". content .";
        align-items: center;
        gap: 0px;
    @include tablet {
        
    }
    @include laptop {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". content .";
        align-items: center;
        gap: 0px;
    }
    #backgroundcolor{
        background: $darkblack; 
        
    
        height: 100vh; 
        width: 50vw;
    }
    #landing{
        #desktop{
            display: none;
            @include laptop{
                display: block;
            }
        }
        #mobile{
            @include laptop{
                display: none;
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
      
        @include laptop {
            display: grid;
            grid-template-columns: repeat(12,1fr);
            grid-template-areas: "design design design . logo logo logo logo . art art art";
            gap: 16px;
        }
    
        #logo{
            grid-area: logo;
            width: 256px;
            @include tablet{
                width: 50%;
            }
            @include laptop{
                width: 100%;
            }
        }
        #landingtext{
            grid-area: design;
            h1{
                font-size: 64px;
                margin-bottom: 32px;
                margin-top: 16px;
                @include tablet {
                    margin-bottom: 32px;
                    margin-top: 32px;
                    margin-left: 32px;
                    font-size: 136px;
                }
            }
        }
        #arttext{
            grid-area: art;
            text-align: center;
       
            h1{
                font-size: 64px;
                margin-bottom: 8px;
                margin-top: 32px;
         
                @include tablet {
                    margin-bottom: 16px;
                    margin-top: 32px;
                    font-size: 144px;
                }
            }
            h2{
                font-size: 20px;
                @include tablet{
                    font-size: 40px;
                }
            }

        }
    }
}