/* =============
    Navigation
============= */
nav{
   
    position: fixed;
    width: 100%;
    bottom: 56px;
    justify-items: center;
    z-index: 1;
    section{
        display: flex;
        width: 100%;
        max-width: 398px;
        height: 72px;
        background: $oreoblacktransp ;

        background-blend-mode: multiply;
        border-radius: 21px;
        backdrop-filter: blur(21px);
        align-items: center;
        justify-content: center;
        @include tablet{
            max-width: 488px;
            height: 88px;
        }
        #navmenu{
            display: flex;
            gap: 32px;
            justify-content: center;
            align-items: center;
        
            li{
                
                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    width: 56px;
                    height: 56px;
                    
                    border-radius: 100%;
                    img{
                        width: 24px;
                    }
                }
               
            }
        }
    }
}