/* =============
    Navigation
============= */

nav{
    display: flex;
    position: fixed;
    width: 398px;
    height: 72px;
    left: 16px;
    top: 711px;
    background: linear-gradient(180deg, $darkicebluetransp 32.81%, $darkiceblueinvis 100%), $oreoblacktransp;
    background-blend-mode: multiply, normal;
    border-radius: 21px;
    backdrop-filter: blur(21px);
    align-items: center;
    justify-content: center;
}

#navmenu{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;

    li{
        
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            i{
                font-size: 24px;
                color: $oreowhite;
            }
        }
    }
}